*{
	margin:0px;
	padding:0px;
	display:block;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	color:skyblue;
	background-color:black;
}
#divis{
	text-align:left;
}
#section{
	padding:7px;
	color:rgb(75,0,130);
	background-color:rgb(102,2,60);
}
#head{
	text-align:center;
	font-size:36pt;
	color:crimson;
}
#body{
	text-align:center;
}
#titular{
	color:crimson;
}
#logoSec{
	float:right;
	width:15%;
	padding-right:5%;
}
#footer{
	float:bottom;
	float:left;
	padding-left:5%;
}
#centreFlankTop{
	font-size:20pt;
	width:75%;
	float:left;
	padding-left:5%;
}
#moto{
	font-size:15pt;
	color:crimson;
}
#caput{
	color:mediumaquamarine;
}
#centreFlank{
	font-size:20pt;
	width:90%;
	float:left;
	padding-left:5%;
}